@use "../mixins/responsive.scss" as *;

footer {
  background-color: #00252e;
  color: white;
  padding: 2rem;
  margin-top: -0.1rem;
  @include responsive(laptop) {
    display: flex;
    flex-direction: row-reverse;
    gap: 20rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.footer__newsletter_box {
  display: flex;
  flex-direction: column;
  align-items: end;
  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
.footer__newsletter_name {
  width: 100%;
  height: 50px;
  background-color: white;
}

.footer__newsletter_suscribe {
  height: 40px;
  width: 100px;
  background-color: #ff52c1;
  color: white;
  text-align: center;
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 0.3rem;
  margin-top: 1rem;

  @include responsive(laptop) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    width: 200px;
    height: 50px;
  }
}

.footer__contact {
  margin-top: 2rem;
  gap: 1rem;
}
.footer__logo {
  color: white;
  background-color: white;
}

.footer__contact_tlf {
  display: flex;
  flex-direction: row;
  max-height: 20px;
  width: 200px;
  margin-top: 2rem;
  gap: 2rem;
}

.footer__contact_mail {
  display: flex;
  flex-direction: row;
  max-height: 20px;
  max-width: 200px;
  margin-top: 1rem;
  gap: 2rem;
}
